body{

    background-image: url("img1.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 50%;
}
table, th, td {
     border: 2px solid black;
    border-collapse: collapse;}
    
  p {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 190%;
    
  }